
p {
    margin-bottom: 10px;
}

.boldLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.cvContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.cvFlavour {
    display: flex;
    flex-direction: column;
    background-color:  #A1D6E210;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 45%;
    padding: 0px, 10px;
    text-align: left;
}

.flavourIntro {
    display: flex;
    justify-content: space-between;
}

.flavourIntroText {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 5px;
}


.flavourIntroImg * {
    max-width: 200px;
    height: auto;
    border-bottom-left-radius: 100%;
}

.flavourBody {
    padding: 0px 15px;
    text-align: justify;
}

.cvBody {
    display: flex;
    flex-direction: column;
    background-color: #A1D6E210;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 45%;
    padding: 0px, 10px;
}

.cvCell {
    border-top: 1px solid black;
    padding-bottom: 3px;
    width: 100%;
}

.cellHeader{
    display: flex;
    justify-content: space-around;
}

.profLinks{
    display:flex;
    flex: wrap;
    justify-content: space-around;
}

.profLinks * {
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.skillBlock {
    display: flex;
}

.skillList {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 45%;
    padding: 0px, 10px;
}

.courseLinks {
    display:flex;
    flex-direction: column;
}

.courseLinks * {
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}