.listContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 500px;
    background: #BCBABE;
    margin-left: auto;
    margin-right: auto;
}

.listedArticle {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.articleTitle {
    margin-bottom: 0px;
    
}


.infoContainer {
    display: flex;
    justify-content: space-between;
    
}