

.listContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    /* min-width: 500px; */
    /* background: rgba(1, 1, 2, 0.185); */
    margin-left: auto;
    margin-right: auto;
}

.listedArticle {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(1, 1, 2, 0.185);
    margin-top: 10px;
    margin-bottom: 10px;
}

.articleTitle {
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}


.infoContainer {
    display: flex;
    justify-content: space-between;
    
}

.pageButtonContainer {
    display: flex;
    justify-content: center;
}

.bookends {
    display: flex;
}

.pageButton {
    border: 1px solid black;
    background: rgba(1, 1, 2, 0.185);
    padding: 5px;
    margin: 10px;
}

.pageButtonCurrent {
    border: 1px solid black;
    background: rgba(1, 1, 2, 0.4);
    padding: 5px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .listContainer {
        flex-basis: 90%;
    }

    .articleKeywords{
        text-align: center;
    }
    .articleDate {
        text-align: right;
    }

}