.navbarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.navBanner {
    display: flex;
    justify-content: space-between;
    background: #1995AD;
    max-height: 100px;
}

.topBar {
    padding-left: 20px;
    padding-top: 10px;
}

.menuImg {
    max-height: 100px;
}

.dropdown {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    background: rgba(25, 148, 173, 0.920);
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.dropdown * {
    display: block;
    padding: 20px 50px;
    font-weight: bold;
    transition: background-color 1s;
    text-decoration: none;
}

.dropdown a{
    padding: 0;
}


.dropdown *:hover {
    background-color: #72B6C6;
}