.blogMasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogContentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 110px;
}

.blogContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    /* min-width: 500px; */
    background: rgba(1, 1, 2, 0.185);
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.postHeader {
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.postTitle {
    text-align: left;
    padding-left: 20px;
    /* background: pink; */
    border-bottom: 1px solid black;
}

.postHeadFooter {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* background: green; */
    align-items: center;
    border-bottom: 1px solid black;
}

.postHeadFooter p {
    font-weight: bold;
}

.authorImg {
    max-width: 100px;
}

.postBody {
    /* background: #A1D6E290; */
    margin: 2px;
    text-align: left;
    padding-top: 2px;
    padding-left: 2px;
}

.sidebar {
    /* background: orange; */
    background: rgba(1, 1, 2, 0.185);
    flex-basis: 20%;
    /* min-width: 200px; */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.backButton {
    max-width: 80px;
}

@media only screen and (max-width: 600px) {
    .blogContainer {
        flex-basis: 90%;
    }

    .sidebar {
        display: none;
        flex-basis: 0%;
    }

}