.blogMasterContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 110px;
}

.blogContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 500px;
    background: #BCBABE;
    margin-left: auto;
    margin-right: auto;
}

.postHeader {
    background: #1995AD90;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.postTitle {
    text-align: left;
    padding-left: 20px;
    background: pink;
}

.postHeadFooter {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    background: green;
}

.authorImg {
    max-width: 100px;
}

.postBody {
    background: #A1D6E290;
    margin: 2px;
}

.sidebar {
    background: orange;
    width: 20%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}